@model HC_UserUI.Models.Registro

@{
    ViewData["Title"] = "DetallesPelicula";
}

<h1>DetallesPelicula</h1>

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Estudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Estudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoHoraConferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoHoraConferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Pelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemaCentral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemaCentral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a los registros</a>
</div>
